@model TicTacToe.Models.GameInvitationModel
@{
    ViewData["Title"] = "Potwierdzenie zaproszenia do gry";
}

<h2>@Localizer["Title"]</h2>


<h1>@Localizer["Użytkownik {0} został przez Ciebie zaproszony do gry Kółko i krzyżyk. Proszę czekać, aż się połączy", Model.EmailTo]</h1>

@section Scripts{
    <script>
    $(document).ready(function () {
        GameInvitationConfirmation('@Model.Id');
    });
    </script>
}

