@{
    ViewData["Title"] = "Potwierdzenie adresu e-mail";
}

@section Scripts{
    <script>
    $(document).ready(function () {
        EmailConfirmation('@ViewBag.Email');
    });
    </script>
}

<h2>@Localizer["Title"]</h2>
<p>
    Na adres @ViewBag.Email została wysłana wiadomość. Proszę potwierdzić ten adres, klikając zawarty w niej link.
</p>

