@{
    ViewData["Title"] = "Potwierdzenie adresu e-mail";
}

@section Scripts{
    <script>
    $(document).ready(function () {
        EmailConfirmation('@ViewBag.Email');
    });
    </script>
}

@section Desktop {<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<p>
    Na adres @ViewBag.Email została wysłana wiadomość. Proszę potwierdzić ten adres, klikając zawarty w niej link.
</p>

