body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/*Dopełnienie, by uchronić zawartość przed uderzeniem w krawędzie*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Domyślna szerokość elementów do wproawdzanie danych w formularzu*/
input,
select,
textarea {
    max-width: 280px;
}

/*Style pomocnicze walidacji*/
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}

/*Dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-my-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    color: rgba(255, 255, 255, 0.5);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-my-item:hover, .dropdown-item:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75) ;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#connected-dp {
    min-width:350px;
}

ion-icon { 
    font-size: 128px; 
}

#small > ion-icon {
    font-size: 20px;
    color: #ffc107;
    --ionicon-stroke-width: 60px;
}

span > ion-icon {
    color: #333333;
    font-size: inherit;
}


/*Menu logowania*/
#login_menu {
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#login_menu:hover {
    color: rgb(255, 255, 255);
}

#login_menu > a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#login_menu > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

html, body {
    height: 100%;
}

.container {
    /*height: 100%;*/
    align-content: center;
}

.card {
    height: 350px;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }